/Practice3/target/
/Java11Practice3/nbproject/private/
/Java11Practice3/build/
/Practice3/build/
/Practice3/nbproject/private/
/Practice4/nbproject/private/
/Practice4/dist/
/Practice5/nbproject/private/
/Practice5/build/
